 body{
     margin:0px;
     width: 960px;
     margin: auto;
 
 }
 .sidebar{
    display: table-cell;
    width: 250px;
    padding-left:50px;
    box-sizing: border-box;
    background-color:black;
    color: white;

    
 }
 .main{
     display: table-cell;
     margin-left:250px;
     padding: 0 50px 0 50px;


 }

